/* index page css */
.login-error-msg{color:red; text-transform: uppercase; text-indent:55px;}
#div-form-signin{max-width:330px; margin:0 auto; padding:15px;}
#div-form-signin .checkbox{font-weight:normal;}
#div-form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
#div-form-signin .form-control:focus{z-index:2;}
#div-form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
#div-form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
#div-inner-login-box{margin-top:20px;background-color:#f7f7f7;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:40px 0 20px;}
.login-title{color:#555;font-size:18px;font-weight:400;display:block;}
.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}
.need-help{margin-top:10px;}
.new-account{display:block;margin-top:10px;}

/*.........................dashboard-css.............................*/
.body-dashboard
{
	padding-top:70px;background: none repeat scroll 0 0 white;
}

/*..........................user-category-page-OPEN..........................*/
#div-form-user-category-create
{
	border:2px solid #ddd;padding:10px; margin-top:2%; display:none; border-radius:4px;
}

#td-user-temp-1-next
{
	display:none;
}

#td-user-cat-temp-1-next
{
	display:none;
}

#td-orders-temp-1-next
{
	display:none;	
}
/*..........................user-category-page-CLOSE..........................*/

/*..........................user-create-page-OPEN..........................*/
#div-form-user-create
{
	border:1px dotted gray;display:none; margin-top:2%;border-radius:4px;
}

nav.sidebar 
{
  z-index:1000;
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #f8f8f8;
  color: black;
  padding: 3px;
 }
.expandable
{
	line-height:25px;
}
nav.sidebar a#a-toggle-button-sidebar 
{	
	
	text-decoration:none;
    outline: 0;
    color: black;
    font-size: 24px;
    font-style: normal;
    cursor:pointer;        
}
nav.sidebar-menu-collapsed 
{
  width: 50px; 
}
nav.sidebar-menu-expanded 
{
  width: 200px;   
}
.bs-docs-sidenav {
	width:45px;
	padding: 0;
	background-color: #FFF;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#div-toggle-button-sidemenu
{
	margin-bottom:60px;
}

#li-sidemenu-menuitem-toggle
{
	margin-bottom:30px;
}

.div-sidemenu-menuitem a.expandable span.span-sidemenu-menuitem-text
{
	display:none;
}
.bs-docs-sidenav > li > div > a {
  display: block;
  text-decoration:none;
  width: 190px \9;
  height:45px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.span-sidemenu-menuitem-icon
{
	float:right;
	font-size:20px;	
}
.bs-docs-sidenav ul { margin-left: 0; padding-left: 0; }

.bs-docs-sidenav > li > ul  li {  background-color: #F9F9F9; }
.bs-docs-sidenav > li > ul > li > ul  li {  background-color: #F0F0F0; }

.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  //float: right;
  margin-top: 2px;
  //margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(http://raw.github.com/twitter/bootstrap/master/img/glyphicons-halflings.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
ul
{
    list-style: none;
}

/*..........................for inventory page OPEN................................*/
.category
{	
	height:18%;
	overflow-y:auto;
}
.left-padd
{
	padding:0px 15px 15px 15px;	
}
.cursorPointer
{
	cursor:pointer;
}
.to-none
{
	display:none;
}
.to-display
{
	display:block;
}
nav.sidebar ul >li > ul > li
{
	background-color:#D0D0D0;
}
#div-form-inventory-create-tab-pages
{
	padding:10px; margin-top:1%;border-radius:4px;clear:both;min-height:50%;
}

#td-inventory-temp-1-next
{
	display:none;	
}

/*........for navbar .............*/
@media(max-width:765px){
	#div-alert-box
	{
		display:none;
	}
	#div-alert-box-small-screen
	{
		display:block;
	}	
	nav.sidebar
	{
		top:100px;
	}
	.body-dashboard
	{
		padding-top:100px;
	}
}
@media(min-width:766px){
	#div-alert-box-small-screen
	{
		display:none;
	}	
	nav.sidebar
	{
		top:50px;
	}
	.body-dashboard
	{
		padding-top:70px;
	}
}


/*............for inventory page CLOSE.............*/
@media(min-width:765px){
	#div-page-content{				
		padding-left:40px;
	}
	.div-notification-navbar{
		margin-left:45%;
	}
}
@media screen and (max-width: 766px) 
{
	#div-page-content{				
		padding-left:40px;
	}
}
/*..........................user-create-page-CLOSE..........................*/

/*........................inventory-management script OPEN.................*/
	
#div-form-inventory-create
{
	border:1px dotted gray; padding:10px;margin-top:2%;display:none;border-radius:4px;
}

#thead-table-form-inventory-create > tr > th
{
	text-align:center;
}

.fetched-tag-list{
	z-index:1000;
}

#div-img-form-inventory-create-image-main
{
	height:30%;
	width:100%;
	background-color:#5bc0de;
}	
.div-img-form-inventory-create-image-thumbnail
{
	width:32.5%;
	height:12%;
	margin-left:.5%;
	margin-top:1%;
	background-color:#afe6dc;
}
#div-modal-sub-form-inventory-category-create
{
	border:1px dotted gray;padding:10px; margin-top:2%; display:none; border-radius:4px;	
}

/*...............order_management script OPEN..........................*/
#div-form-order-create
{
	border:1px dotted gray;padding:10px; margin-top:2%; display:none; border-radius:4px;	
}

#div-order-line-table
{
	padding:10px; margin-top:2%; border-radius:4px;min-height:50%;
}
#div-order-line-table-inner
{
	min-height:90%;
}
#thead-table-orders th{
	font-size:small;
}
#tbody-table-orders tr td{
	font-size:small;
}

/*..............invoice_management.jsp...............*/
#div-form-invoice-create
{
	border:1px dotted gray; padding:10px;margin-top:2%;display:none;border-radius:4px;
}