@CHARSET "ISO-8859-1";

/* index page css */
.login-error-msg{color:red; text-transform: uppercase; text-indent:55px;}
#div-form-signin{max-width:330px; margin:0 auto; padding:15px;}
#div-form-signin .checkbox{font-weight:normal;}
#div-form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
#div-form-signin .form-control:focus{z-index:2;}
#div-form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
#div-form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
#div-inner-login-box{margin-top:20px;background-color:#f7f7f7;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:40px 0 20px;}
.login-title{color:#555;font-size:18px;font-weight:400;display:block;}
.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}
.need-help{margin-top:10px;}
.new-account{display:block;margin-top:10px;}

/*.........................dashboard-css.............................*/
.body-dashboard
{
	padding-top:70px;background: none repeat scroll 0 0 white;
}

/*..........................user-category-page-OPEN..........................*/
#div-form-user-category-create
{
	border:1px dotted gray;padding:15px; margin-top:2%; display:none; border-radius:4px;
}
/*..........................user-category-page-CLOSE..........................*/

/*..........................user-create-page-OPEN..........................*/
#div-form-user-create
{
	border:1px dotted gray;padding:15px; margin-top:2%;display:none;border-radius:4px;
}
	
/*..........................user-create-page-OPEN..........................*/
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
  
.span-sidemenu-menuitem-icon
{
	float:right;
	font-size:20px;	
}
nav.sidebar-menu-collapsed 
{
  width: 50px; 
}
nav.sidebar-menu-expanded 
{
  width: 125px;   
}
nav.sidebar 
{
  z-index:1000;
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #f8f8f8;
  color: black;
  padding: 20px 10px; 
}
nav.sidebar a#a-toggle-button-sidebar 
{
	text-decoration:none;
    outline: 0;
    color: black;
    font-size: 24px;
    font-style: normal;
    cursor:pointer;        
}

nav.sidebar ul 
{
    margin: 0;
    padding: 0;
    margin-top: 60px; 
}
nav.sidebar ul li 
{
   margin: 0;
   padding: 0;
   margin-top: 20px;
   list-style-type: none; 
}
	
 a.expandable 
{
    outline: 0;
    color: black;
    text-decoration: none;
    font-size: 12px; 
}
.div-sidemenu-submenu-menuitem  
{
	margin-top:2px;
	background-color:#8B8B8B;	
}
.div-sidemenu-menuitem a.expandable span.span-sidemenu-menuitem-text
{
	display:none;
}	
.div-sidemenu-menuitem a.expandable:link ,.div-sidemenu-menuitem a.expandable:visited
{
	display: block;
	height:35px;
	padding:7px;	
	line-height:-1px;							
	border-radius:5px;		
}
.div-sidemenu-menuitem a.expandable:hover , .div-sidemenu-menuitem a.expandable:active
{
	background-color: #4c4c4c;
	color:white;
}
.div-sidemenu-menuitem a.div-sidemenu-submenu-menuitem:link ,.div-sidemenu-menuitem a.div-sidemenu-submenu-menuitem:visited
{
	display: block;
	height:40px;
	padding:7px;	
	line-height:-1px;							
	border-radius:5px;		
}
.div-sidemenu-menuitem a.div-sidemenu-submenu-menuitem:hover ,.div-sidemenu-menuitem a.div-sidemenu-submenu-menuitem:active
{
	background-color: #4c4c4c;
	color:white;	
}
nav.sidebar ul li 
{	
    font-size:20px;
    border-radius: 4px;   
    margin-left: -4px;
}
nav.sidebar ul li.active 
{
	background: none repeat scroll 0 0 black;
    font-size:20px;
    border-radius: 4px;    
    margin-left: -4px;
}
nav.sidebar ul li.active a.expandable 
{
	color: white !important; 
}
nav.sidebar ul li.active a.expandable:hover 
{
	background:black;
    color: #white !important; 
}
/*............for inventory page OPEN.............*/
.category
{	
	height:18%;
	overflow-y:auto;
}
.left-padd
{
	padding:0px 15px 15px 15px;	
}
.cursorPointer
{
	cursor:pointer;
}

.to-none
{
	display:none;
}
.to-display
{
	display:block;
}
/*............for inventory page CLOSE.............*/
@media(min-width:765px)
{
	#div-page-content{		
		padding-right:1%;
		padding-left:50px;
	}
	.div-notification-navbar{
		margin-left:45%;
	}
}
@media screen and (max-width: 766px) 
{
	#div-page-content{				
		padding-left:40px;
	}
}
/*..........................user-create-page-CLOSE..........................*/
